<% content_for :title, t("organizations.memberships.new.title") %>

<%= modal do %>
  <%= render PageComponent.new(title: t("organizations.memberships.new.title")) do |component| %>
    <%= simple_form_for @membership_invitation, url: organization_invitations_path(@organization), html: { class: "contents space-y-4" } do |form| %>
      <%= render "shared/errors", object: form.object %>

      <%= form.input :email,
                      placeholder: "hello@superails.com",
                      required: true,
                      input_html: {
                        autocomplete: "off",
                        autocorrect: "off",
                        autocapitalize: "off",
                        spellcheck: "false",
                        autofocus: !turbo_native_app?
                      } %>

      <div class="flex justify-end">
        <%= form.button :submit, "Invite", class: "btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>
