<%= render PageComponent.new(title: t("devise.views.confirmations.new.title"), full_width: false) do %>
  <%= render "devise/shared/oauth_links" %>

  <%= simple_form_for resource, as: resource_name, url: confirmation_path(resource_name), method: :post, html: { class: "space-y-4" } do |f| %>
    <%= render "shared/errors", object: resource %>

    <%= f.input :email,
                 label: t("devise.views.confirmations.new.email_label"),
                 placeholder: t("devise.views.confirmations.new.email_placeholder"),
                 hint: t("devise.views.confirmations.new.email_help"),
                 input_html: {
                   autofocus: true,
                   autocomplete: "email",
                   value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
                 } %>

    <div class="pt-2">
      <%= f.button :submit, t("devise.views.confirmations.new.submit"), class: "btn-primary btn-block" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
