<% content_for :title, t(".title") %>

<% content_for :head do %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<%= turbo_stream_from "notifications_index_list_#{current_user.id}" %>

<%= render PageComponent.new(title: t(".title")) do |component| %>
  <%= turbo_frame_tag :notifications, target: "_top" do %>
    <% if @notifications.any? %>
      <div class="table-responsive">
        <table>
          <tbody id="notifications">
            <% @notifications.each do |notification| %>
              <%= render "users/notifications/notification", notification: notification %>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= render "shared/pagination", pagy: @pagy %>
    <% else %>
      <%= render EmptyStateComponent.new %>
    <% end %>
  <% end %>
<% end %>
