<%= modal do %>
  <%= render PageComponent.new(title: t("devise.views.registrations.new.title")) do %>
    <%= render "devise/shared/oauth_links" %>

    <% if params[:via_email].present? || params.dig(:user, :via_email).present? %>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), data: { turbo_frame: "_top" }, class: "space-y-4" do |f| %>
        <%= f.hidden_field :via_email, value: params[:via_email] || params.dig(:user, :via_email) %>
        <%= render "shared/errors", object: resource %>

        <div class="space-y-1">
          <%= f.label :email, t("devise.views.registrations.new.email_label"), class: "block text-sm font-medium" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input", placeholder: t("devise.views.registrations.new.email_placeholder") %>
        </div>

        <div class="space-y-1">
          <%= f.label :password, t("devise.views.registrations.new.password_label"), class: "block text-sm font-medium" %>
          <% if @minimum_password_length %>
            <p class="text-xs"><%= t("devise.views.registrations.new.password_minimum", count: @minimum_password_length) %></p>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-input", placeholder: t("devise.views.registrations.new.password_placeholder") %>
        </div>

        <div class="pt-2">
          <%= f.submit t("devise.views.registrations.new.submit"), class: "du-btn du-btn-primary du-btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    <% else %>
      <%= link_to t("devise.views.sessions.new.sign_in_with_email"), new_user_registration_path(via_email: true), class: "du-btn du-btn-primary du-btn-block" %>
    <% end %>
  <% end %>
<% end %>
