<%= modal do %>
  <%= render PageComponent.new(title: t("devise.views.registrations.new.title"), full_width: false) do %>
    <%= render "devise/shared/oauth_links" %>

    <% if params[:via_email].present? || params.dig(:user, :via_email).present? %>
      <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo_frame: "_top" }, class: "space-y-4" } do |f| %>
        <%= f.hidden_field :via_email, value: params[:via_email] || params.dig(:user, :via_email) %>
        <%= render "shared/errors", object: resource %>

        <%= f.input :email,
                     label: t("devise.views.registrations.new.email_label"),
                     placeholder: t("devise.views.registrations.new.email_placeholder"),
                     input_html: {
                       autofocus: true,
                       autocomplete: "email"
                     } %>

        <%= f.input :password,
                     label: t("devise.views.registrations.new.password_label"),
                     placeholder: t("devise.views.registrations.new.password_placeholder"),
                     hint: (@minimum_password_length ? t("devise.views.registrations.new.password_minimum", count: @minimum_password_length) : nil),
                     input_html: {
                       autocomplete: "new-password"
                     } %>

        <div class="pt-2">
          <%= f.button :submit, t("devise.views.registrations.new.submit"), class: "btn-primary btn-block" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    <% else %>
      <%= link_to t("devise.views.sessions.new.sign_in_with_email"), new_user_registration_path(via_email: true), class: "btn btn-primary btn-block" %>
    <% end %>
  <% end %>
<% end %>
