<%= modal close_on_submit: false do %>
  <div class="flex flex-col gap-4">
    <%= form_with url: search_path, method: :get, data: { turbo_frame: :results } do |form| %>
      <%= form.search_field :query, oninput: "this.form.requestSubmit()", placeholder: "Search for an organization" %>
    <% end %>

    <%= turbo_frame_tag :results do %>
      <div class="flex flex-col gap-2">
        <% @organizations.each do |organization| %>
          <%= link_to highlight(organization.name, params[:query]), organization_path(organization), class: "du-btn du-btn-ghost" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
