<%= modal close_on_submit: false, dialog_position: "modal-middle", title: t("search.index.title") do %>
  <div class="flex flex-col gap-4">
    <%= simple_form_for :search, url: search_path, method: :get, html: { data: { turbo_frame: :global_search_results, controller: "debounce" } } do |form| %>
      <%= form.input :query,
                      placeholder: t("search.index.title"),
                      label: false,
                      required: false,
                      input_html: {
                        type: "search",
                        autofocus: true,
                        data: { action: "keydown.esc->dialog#close debounce#submit" }
                      } %>
    <% end %>

    <%= turbo_frame_tag :global_search_results do %>
      <% if @organizations.present? %>
        <%= render PageComponent.new(title: "Organizations") do %>
          <%= render "organizations/table", organizations: @organizations %>
        <% end %>
      <% elsif params[:query].present? %>
        <%= render EmptyStateComponent.new(title: "No results found", subtitle: "Try adjusting your search terms", icon: "svg/magnifying-glass.svg") %>
      <% end %>
    <% end %>
  </div>
<% end %>
