<% content = capture do %>
  <% if counter %>
    <span data-controller="animated-number" 
          data-animated-number-start-value="0" 
          data-animated-number-end-value="<%= organization.credits %>" 
          data-animated-number-duration-value="300">
      <%= organization.credits %>
    </span>
    credits
  <% else %>
    <%= format_credits(organization.credits) %>
  <% end %>
<% end %>

<% if link %>
  <%= link_to organization_refills_path(organization), class: wrapper_classes do %>
    <%= content %>
  <% end %>
<% else %>
  <%= tag.div class: wrapper_classes do %>
    <%= content %>
  <% end %>
<% end %>