<div class="dropdown <%= position %>">
  <div
    tabindex="0"
    role="button"
    class="<%= button_classes %>"
    aria-label="<%= aria_label %>"
    aria-haspopup="menu"
  >
    <%= icon_content %>
  </div>
  <ul
    tabindex="-1"
    class="dropdown-content menu rounded-lg border border-base-300 bg-base-100 shadow-md z-10 w-max p-1"
    role="menu"
  >
    <%= content %>
  </ul>
</div>
