<section class="space-y-4 mx-auto <%= width_class %> @container">
  <% if title.present? || action_list.present? %>
    <div class="flex flex-col @3xl:flex-row @3xl:justify-between gap-4">
      <% if title.present? %>
        <h1 class="font-medium text-2xl @3xl:text-3xl">
          <%= title %>
        </h1>
      <% end %>
      <% if action_list.present? %>
        <div class="whitespace-nowrap">
          <%= action_list %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if subtitle %>
    <%= simple_format(subtitle, class: "text-sm text-base-content/60") %>
  <% end %>

  <div class="space-y-4">
    <%= content %>
  </div>
</section>
