<section class="space-y-4 mx-auto <%= width_class %>">
  <% if title.present? || action_list.present? %>
    <div class="flex justify-between items-center">
      <% if title.present? %>
        <h1 class="font-bold text-2xl lg:text-3xl">
          <%= title %>
        </h1>
      <% end %>
      <% if action_list.present? %>
        <div class="whitespace-nowrap">
          <%= action_list %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if subtitle %>
    <%= simple_format(subtitle, class: "text-sm text-base-content/60") %>
  <% end %>

  <div class="space-y-4">
    <%= content %>
  </div>
</section>
