<%= tag.div id: dom_id(organization), class: "border border-base-content/20 p-2 rounded-lg gap-2 flex flex-col hover:bg-base-200" do %>
  <%= link_to public_organization_path(organization), data: { turbo_frame: "modal" }, class: "flex items-center gap-2 justify-between" do %>
    <div class="flex items-center gap-2">
      <%#= subscription_status_label(organization) if Rails.application.credentials.dig(:stripe, :private_key).present? %>
      <%= organization_avatar(organization) %>
      <div class="font-medium">
        <%= organization.name %>
      </div>
    </div>

    <%= privacy_setting_icon(organization.privacy_setting) %>
  <% end %>

  <%= render "organizations/users_list", organization: %>
  <div class="flex gap-2 justify-end">
    <%= render "organizations/membership_actions", organization: %>
  </div>
<% end %>
