<div id="<%= dom_id membership %>" class="border p-4 rounded-lg flex justify-between items-center">
  <div class="">
    <div class="">
      <%= membership.user.email %>
    </div>
    <div class="">
      <%= membership.role %>
    </div>
  </div>

  <div>
    <%= link_to t("shared.actions.edit"), edit_organization_membership_path(membership.organization, membership), class: "du-btn du-btn-secondary" if policy(membership).edit? %>
    <div class="inline-block">
      <%= button_to t("shared.actions.destroy"), organization_membership_path(membership.organization, membership), method: :delete, data: { turbo_confirm: t("shared.actions.confirm") }, class: "du-btn du-btn-error" if policy(membership).destroy? %>
    </div>
  </div>
</div>
