<div id="<%= dom_id membership %>" class="border p-4 rounded-lg flex justify-between items-center">
  <div class="">
    <div class="font-medium">
      <%= membership.user.email %>
    </div>
    <div class="du-badge du-badge-xs du-badge-soft capitalize">
      <%= membership.role %>
    </div>
  </div>

  <div>
    <%= link_to t("shared.actions.edit"), edit_organization_membership_path(membership.organization, membership), data: { turbo_frame: :modal }, class: "du-btn du-btn-secondary" if policy(membership).edit? %>
    <div class="inline-block">
      <%= button_to @current_membership == membership ? t("organizations.memberships.actions.leave") : t("organizations.memberships.actions.remove_member"), organization_membership_path(membership.organization, membership), method: :delete, data: { turbo_confirm: t("shared.actions.confirm") }, class: "du-btn du-btn-error" if policy(membership).destroy? %>
    </div>
  </div>
</div>
