<% content_for :title, "Edit #{@membership.user.email} roles" %>

<%= modal do %>
  <%= render SectionComponent.new(title: "Edit #{@membership.user.email} roles") do |component| %>
    <%= simple_form_for [@organization, @membership], html: { class: "contents" } do |f| %>
      <%= render "shared/errors", object: f.object %>

      <%= f.input :role,
                  as: :radio_buttons,
                  collection: Membership.roles.map { |role, _value| [role.humanize, role] },
                  label_method: :first,
                  value_method: :last %>

      <div class="flex justify-end"><%= f.button :submit, class: "btn btn-primary" %></div>
    <% end %>
  <% end %>
<% end %>
