<% content_for :title, "Edit #{@membership.user.email} roles" %>

<%= modal do %>
  <%= render PageComponent.new(title: "Edit #{@membership.user.email} roles") do |component| %>
    <%= form_with(model: [ @organization, @membership ], class: "contents") do |form| %>
      <%= render "shared/errors", object: form.object %>

      <div class="">
        <%= form.label :role %>
        <div>
          <% Membership.roles.each do |role, _value| %>
            <div class="flex items-center gap-2">
              <%= form.radio_button :role, role %>
              <%= form.label :role, role.humanize, value: role %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="flex justify-end">
        <%= form.submit class: "du-btn du-btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>
