<% content_for :title, t("organizations.memberships.new.title") %>

<%= render "shared/dialog" do %>
  <%= render PageComponent.new(title: t("organizations.memberships.new.title")) do |component| %>
    <%= form_with model: @form, url: organization_memberships_path(@organization), class: "contents space-y-4" do |form| %>
      <%= render "shared/errors", object: form.object %>

      <div class="">
        <%= form.label :email %>
        <%= form.email_field :email,
                            placeholder: "hello@superails.com",
                            class: "form-input",
                            autocomplete: "off",
                            autocorrect: "off",
                            autocapitalize: "off",
                            spellcheck: "false",
                            autofocus: !turbo_native_app?,
                            required: true %>
      </div>

      <div class="">
        <%= form.label :role %>
        <div>
          <% Membership.roles.each do |role, _value| %>
            <div class="flex items-center gap-2">
              <%= form.radio_button :role, role %>
              <%= form.label :role, role.humanize, value: role %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="inline">
        <%= form.submit "Invite", class: "du-btn du-btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>
