<% content_for :title, t("join_requests.index.title") %>

<%= render "organizations/memberships/tabs", active_tab: :requests %>

<%= render PageComponent.new do %>
  <% if @join_requests.any? %>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th><%= JoinRequest.human_attribute_name(:user) %></th>
            <th><%= JoinRequest.human_attribute_name(:created_at) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody id="join_requests">
          <% @join_requests.each do |join_request| %>
            <tr>
              <td data-label="<%= JoinRequest.human_attribute_name(:user) %>">
                <div class="font-medium flex items-center gap-2"><%= user_avatar(join_request.user) %><%= join_request.user.email %></div>
              </td>

              <td data-label="<%= JoinRequest.human_attribute_name(:created_at) %>"><%= l(join_request.created_at, format: :short) %></td>

              <td>
                <div class="flex items-center justify-end gap-2">
                  <%= button_to t("join_requests.buttons.reject"), reject_organization_received_join_request_path(@organization, join_request), method: :post, class: "btn btn-sm btn-error" %>
                  <%= button_to t("join_requests.buttons.approve"), approve_organization_received_join_request_path(@organization, join_request), method: :post, class: "btn btn-sm btn-primary" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render EmptyStateComponent.new %>
  <% end %>
<% end %>
