<% close_on_submit = true if close_on_submit.nil? %>

<% dialog_position ||= "modal-middle" %>

<% title ||= nil %>

<% if turbo_frame_request? %>
  <%= turbo_frame_tag :modal do %>
    <dialog
      class="modal <%= dialog_position %> backdrop-blur transition-none"
      data-controller="dialog"
      data-action="click->dialog#clickOutside <%= close_on_submit ? "turbo:submit-end->dialog#hideOnSubmit" : "" %>"
      aria-labelledby="modal-title"
    >
      <div class="modal-box gap-y-2 transition-none">
        <div class="flex items-center justify-between mb-4">
          <div id="modal-title" class="font-semibold text-2xl @3xl:text-3xl"><%= title %></div>

          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost" aria-label="Close dialog">
              <%= inline_svg_tag "svg/x-mark.svg", class: "size-4", "aria-hidden": "true" %>
            </button>
          </form>
        </div>

        <%= yield %>
      </div>
    </dialog>
  <% end %>
<% else %>
  <%= yield %>
<% end %>
