<nav class="px-4 navbar flex justify-between">
  <%# left %>
  <div class="flex items-center gap-1">
    <%# logo %>
    <%= link_to Rails.application.config_for(:settings).dig(:site, :name), root_path, class: "max-lg:hidden btn btn-ghost text-xl" %>

    <%# mobile sidebar toggle %>
    <label for="main-drawer" class="btn btn-ghost btn-square lg:hidden">
      <%= inline_svg_tag "svg/bars-3.svg", class: "size-6" %>
    </label>

    <%# select org dropdown %>
    <div class="lg:hidden dropdown dropdown-start group">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <% if Current.organization %>
          <%= organization_avatar(Current.organization, classes: "size-6") %>
          <%= Current.organization.name %>
        <% else %>
          <%= t("shared.navigation.select_organization") %>
        <% end %>
        <%= inline_svg_tag "svg/chevron-down.svg", class: "w-4 h-4 stroke-2 transition-transform duration-200 group-focus-within:rotate-180" %>
      </div>
      <ul tabindex="-1" class="menu menu-xl dropdown-content bg-base-100 rounded-box mt-3 shadow border border-base-content/20">
        <%= nav_link t("shared.navigation.organizations"), organizations_path, icon: "svg/globe-europe-africa.svg", active: [["organizations", "public/organizations", "users/invitations", "users/membership_requests"], ["index"]] %>
        <% Current.organizations.excluding(Current.organization).each do |organization| %>
          <%= nav_link organization.name, organization_path(organization), icon: organization_avatar(organization, classes: "size-6") %>
        <% end %>
      </ul>
    </div>
  </div>

  <%# center %>
  <div class="flex items-center gap-1">
    <%# search %>
    <%# if Flipper.enabled?(:search, current_user) %>
    <%# if Flipper[:search].enabled?(current_user) %>
    <%# if Flipper[:search].enabled? %>
    <%= active_link_to search_path, data: { turbo_frame: :modal, controller: "click", action: "keydown.meta+k@window->click#click keydown.ctrl+k@window->click#click" }, class: "max-lg:hidden input input-sm gap-1 cursor-pointer lg:min-w-64 rounded-lg" do %>
      <%= inline_svg_tag "svg/magnifying-glass.svg", class: "size-4 w-4 h-4" %>
      <span class="grow hidden lg:block"><%= t("search.index.title") %></span>
      <kbd class="kbd kbd-sm hidden lg:inline-flex">⌘</kbd>
      <kbd class="kbd kbd-sm hidden lg:inline-flex">K</kbd>
    <% end %>
    <%# end %>
  </div>

  <%# right %>
  <div class="flex items-center gap-1">
    <% if user_masquerade? %>
      <%= link_to t("devise.masquerade.back"), back_masquerade_path(current_user), class: "btn btn-warning btn-sm uppercase" %>
    <% end %>

    <% if current_user.admin? %>
      <div class="dropdown dropdown-end group">
        <div tabindex="0" role="button" class="btn btn-ghost">
          <span class="font-medium font-mono">Admin</span>
          <%= inline_svg_tag "svg/chevron-down.svg", class: "w-4 h-4 stroke-2 transition-transform duration-200 group-focus-within:rotate-180" %>
        </div>
        <ul tabindex="-1" class="menu menu-xl dropdown-content bg-base-100 rounded-box mt-3 shadow border border-base-content/20">
          <% admin_link_options.each do |link| %>
            <%= active_link_to link[:path], class_active: "btn-active", class: "whitespace-nowrap btn btn-ghost justify-start w-full" do %>
              <%= link[:icon] %>
              <%= link[:name] %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# notifications dropdown %>
    <%= turbo_stream_from "notifications_index_#{current_user.id}" %>
    <div class="dropdown dropdown-end max-lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <%= render "users/notifications/notifications_count", unread: current_user.unseen_notifications_count %>
        <%= inline_svg_tag "svg/bell.svg", class: "w-6 h-6" %>
      </div>
      <div tabindex="-1" class="w-96 p-2 dropdown-content bg-base-100 rounded-box mt-3 shadow border border-base-content/20">
        <div class="w-full flex justify-end">
        <%= link_to "View all", user_notifications_path, class: "link link-hover" %>
        </div>
        <%= turbo_frame_tag :notifications, src: user_notifications_path, loading: :lazy %>
      </div>
    </div>

    <div class="dropdown dropdown-end group">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <%= user_avatar(current_user) %>
        <%= inline_svg_tag "svg/chevron-down.svg", class: "w-4 h-4 stroke-2 transition-transform duration-200 group-focus-within:rotate-180" %>
      </div>
      <ul tabindex="-1" class="menu menu-xl dropdown-content bg-base-100 rounded-box mt-3 shadow border border-base-content/20">
        <%= render "shared/user_links" %>
      </ul>
    </div>
  </div>
</nav>
