<%= active_link_to organization_path(current_organization), active: :exclusive, class_active: "bg-gray-300", class: "w-full btn btn-transparent" do %>
  <%= inline_svg_tag "svg/question-mark-circle.svg", class: "size-5" %>
  <span>
    Dashboard
  </span>
<% end %>
<%= active_link_to organization_memberships_path(@organization), class_active: "bg-gray-300", class: "w-full btn btn-transparent" do %>
  <%= inline_svg_tag "svg/user-group.svg", class: "size-5" %>
  <span>
    Users
  </span>
<% end %>
<%= active_link_to organization_inboxes_path(@organization), class_active: "bg-gray-300", class: "w-full btn btn-transparent" do %>
  <%= inline_svg_tag "svg/question-mark-circle.svg", class: "size-5" %>
  <span>
    Inboxes
  </span>
<% end %>
