<nav class="flex justify-between p-2">
  <div class="flex items-center gap-2">
    <% if signed_in? %>
      <% if current_organization %>
        <%= link_to organization_path(@organization), class: "inline-flex items-center gap-2 no-underline" do %>
          <div>
            <%= organization_avatar(@organization) %>
          </div>
          <div class="truncate">
            <%= @organization.name %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "no-underline" do %>
        <%= image_tag "logo.png", class: "size-8" %>
      <% end %>
      <%= active_link_to "Pricing", pricing_path, class_active: "bg-gray-300", class: "btn btn-transparent" %>
    <% end %>
  </div>

  <%# auth %>
  <div class="flex items-center gap-2">
    <% if signed_in? %>
      <%= active_link_to current_user.email, edit_user_registration_path, class_active: "bg-gray-300", class: "btn btn-transparent" %>
      <div class="inline-flex">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-transparent" %>
      </div>
    <% else %>
      <%= active_link_to "Log in", new_user_session_path, class_active: "bg-gray-300", class: "btn btn-transparent" %>
      <%= active_link_to "Register", new_user_registration_path, class_active: "bg-gray-300", class: "btn btn-transparent" %>
    <% end %>
  </div>
</nav>
