<aside class="hidden lg:flex flex-col justify-between bg-slate-200 w-52">
  <%# Widescreen sidebar top %>
  <nav class="flex flex-col">
    <details class="">
      <summary class="hover:bg-gray-300 py-2 cursor-pointer">
        <% if current_organization %>
        <div class="inline-flex items-center gap-2 max-w-40">
          <div>
            <%= organization_avatar(current_organization) %>
          </div>
          <div class="truncate">
            <%= current_organization.name %>
          </div>
        </div>
        <% else %>
          Select Organization
        <% end %>
      </summary>
      <div class="space-y-2 p-2 border-b-2 border-slate-300">
        <%= active_link_to "All Organizations", organizations_path, active: :exclusive, class_active: "bg-gray-300", class: "w-full btn btn-transparent" %>
        <% current_user.organizations.excluding(current_organization).each do |organization| %>
          <%= active_link_to organization_path(organization), class_active: "bg-gray-300", class: "w-full btn btn-transparent flex items-center" do %>
            <div>
              <%= organization_avatar(organization) %>
            </div>
            <div class="truncate">
              <%= organization.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </details>

    <% if current_organization %>
      <div class="space-y-2 p-2">
        <%= render "shared/nav_links" %>
      </div>
    <% end %>
  </nav>

  <%# Widescreen sidebar bottom %>
  <div class="p-4">
  </div>
</aside>
