<aside class="hidden lg:flex flex-col justify-between bg-slate-300 max-h-screen overflow-y-auto">
  <%# Widescreen sidebar top %>
  <%# change the nav flex-col/flex-row %>
  <nav class="flex flex-row flex-grow">
    <div class="flex flex-col max-h-screen overflow-y-auto pb-2">
      <%= link_to root_path, class: "flex items-center justify-center px-2" do %>
        <%#= image_tag "logolong.png", alt: "logo", class: "max-h-10 max-w-10" %>
        <%= image_tag "logo.png", alt: "logo", class: "max-h-10 max-w-10" %>
      <% end %>

      <%#= active_link_to "Accounts", accounts_path, active: :exclusive, class_active: "bg-slate-100", class: "px-4 py-2 hover:bg-slate-300" %>

      <div class="flex flex-col items-center space-y-2">
        <% current_user.accounts.each do |account| %>
          <%= active_link_to account_path(account), class_active: "bg-slate-400", class: "flex items-center space-x-2 text-sm rounded-md border-4 border-transparent hover:border-slate-400 bg-gray-600" do %>
            <%= account_avatar(account) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if current_account %>
      <div class="flex flex-col max-h-screen overflow-y-auto p-2 space-y-2 bg-slate-200">
        <%= active_link_to account_account_users_path(@account), class_active: "bg-gray-300", class: "btn btn-transparent" do %>
          <%= inline_svg_tag "svg/user-group.svg", class: "size-5" %>
          <span>
            Users
          </span>
        <% end %>
        <%= active_link_to account_inboxes_path(@account), class_active: "bg-gray-300", class: "btn btn-transparent" do %>
          <%= inline_svg_tag "svg/question-mark-circle.svg", class: "size-5" %>
          <span>
            Inboxes
          </span>
        <% end %>
      </div>
    <% end %>
  </nav>

  <%# New section at the bottom %>
  <div class="sticky bottom-0 bg-slate-500 text-white hidden">
    <p>Bottom Content</p>
  </div>
</aside>