<%# Mobile sidebar backdrop %>
<div data-mobile-sidebar-target="backdrop" class="lg:hidden fixed inset-0 bg-gray-800/50 z-40 hidden" data-action="click->mobile-sidebar#close"></div>

<aside data-mobile-sidebar-target="sidebar" class="fixed lg:relative bg-base-300 h-dvh -translate-x-full lg:translate-x-0 transition-transform duration-300 z-50 flex flex-col flex-shrink-0">
  <%# Widescreen sidebar top %>
  <nav class="flex flex-row flex-grow h-full">
    <div class="flex flex-col max-h-dvh overflow-y-auto">
      <div class="flex flex-col space-y-2">
        <%= link_to root_path, class: "flex items-center justify-center aspect-square" do %>
          <%= image_tag "logo.png", alt: "logo", class: "size-8" %>
        <% end %>

        <ul class="du-menu">
          <li>
            <%= active_link_to organizations_path, class_active: "du-menu-active", active: :exclusive, title: t("organizations.index.title"), active: [ [ "organizations", "public/organizations", "users/invitations", "users/membership_requests" ], [] ] do %>
              <%= inline_svg_tag "svg/globe-europe-africa.svg" %>
            <% end %>
          </li>
        </ul>

        <div class="flex flex-col items-center space-y-1">
          <% Current.organizations.each do |organization| %>
            <%= active_link_to organization_path(organization, redirect_to: organization_dashboard_path(organization)), class: "aspect-square leading-none p-1", class_active: "du-menu-active bg-primary rounded", title: organization.name do %>
              <%= organization_avatar(organization) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="mt-auto p-2">
        <%= render "shared/sidebar_toggle" %>
      </div>
    </div>

    <% if current_organization %>
      <div class="bg-base-100 overflow-y-auto ml-0 m-2 rounded-xl border border-base-content/20 justify-between flex flex-col max-h-dvh">
        <div class="du-menu w-full">
          <%= nav_link current_organization.name, organization_path(current_organization), icon: organization_avatar(current_organization, classes: "size-5"), active: :exclusive %>
          <%= render "shared/sidebar_links" %>
        </div>
        <div class="du-menu w-full">
          <%= nav_link t("organizations.memberships.index.title"), organization_memberships_path(current_organization), icon: "svg/user-group.svg", badge: current_organization.user_requests.pending.count, active: [ [ "organizations/memberships", "organizations/invitations", "organizations/membership_requests" ], [] ] %>
          <% if Current.membership.admin? %>
            <%= nav_link t("organizations.subscriptions.index.title"), organization_subscriptions_path(current_organization), icon: subscription_status_label(current_organization) if Rails.application.credentials.dig(:stripe, :private_key).present? %>
            <%= nav_link t("organizations.show.title"), organization_path(current_organization), icon: "svg/cog-6-tooth.svg", active: [ [ "organizations" ], [ "edit", "show" ] ] %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if controller_path.start_with?('users') %>
      <div class="bg-base-100 overflow-y-auto ml-0 m-2 rounded-xl border border-base-content/20 justify-between flex flex-col max-h-dvh">
        <div class="du-menu w-full">
          <%= render "shared/user_links" %>
        </div>
      </div>
    <% end %>
  </nav>
</aside>
