<%# Mobile sidebar backdrop %>
<div data-mobile-sidebar-target="backdrop" class="lg:hidden fixed inset-0 bg-gray-800/50 z-40 hidden" data-action="click->mobile-sidebar#close"></div>

<%# Sidebar content %>
<aside data-mobile-sidebar-target="sidebar" class="fixed lg:relative border-r border-gray-300 w-52 bg-white h-dvh -translate-x-full lg:translate-x-0 transition-transform duration-300 z-50 flex flex-col">
  <div class="flex-1">
    <details class="group">
      <summary class="btn-transparent font-medium text-sm p-2 cursor-pointer [&::-webkit-details-marker]:hidden flex items-center justify-between group-open:bg-gray-100">
        <% if current_organization %>
        <div class="inline-flex items-center gap-2 max-w-40">
          <div>
            <%= organization_avatar(current_organization) %>
          </div>
          <div class="truncate">
            <%= current_organization.name %>
          </div>
        </div>
        <% else %>
          <div class="py-1 inline-flex">
            Select Organization
          </div>
        <% end %>
        <%= inline_svg_tag "svg/chevron-up-down.svg", class: "w-4 h-4 stroke-2 transition-transform duration-200 group-open:rotate-180" %>
      </summary>
      <div class="space-y-2 p-2 border-b border-gray-300">
        <% current_user.organizations.excluding(current_organization).each do |organization| %>
          <%= active_link_to organization_dashboard_path(organization), class_active: "bg-gray-200", class: "w-full btn btn-transparent flex items-center" do %>
            <div>
              <%= organization_avatar(organization) %>
            </div>
            <div class="truncate">
              <%= organization.name %>
            </div>
          <% end %>
        <% end %>
        <%= nav_link organizations_path, "All Organizations", "svg/rocket-launch.svg", active: :exclusive %>
      </div>
    </details>

    <% if current_organization %>
      <div class="space-y-2 p-2">
        <%= render "shared/sidebar_links" %>
      </div>
    <% end %>
  </div>

  <% if current_organization %>
    <div class="border-t border-gray-300 space-y-2 p-2">
      <%= nav_link organization_subscriptions_path(current_organization), "Billing #{subscription_status_label(current_organization)}", "svg/credit-card.svg" if Rails.application.credentials.dig(:stripe, :private_key).present? %>
      <%= nav_link organization_path(current_organization), "Settings", "svg/cog-6-tooth.svg", active: [["organizations"], ["edit", "show"]] %>
      <%= nav_link organization_memberships_path(current_organization), "Users", "svg/user-group.svg" %>
    </div>
  <% end %>
</aside>
