<aside class="hidden lg:flex flex-col justify-between bg-slate-400 w-72">
  <%# Widescreen sidebar top %>
  <nav class="flex flex-col">
    <%= link_to root_path, class: "p-4" do %>
      <%#= image_tag 'logolong.png', alt: 'logo', class: 'h-10 w-auto' %>
      <%= image_tag 'logo.png', alt: 'logo', class: 'h-10 w-auto' %>
    <% end %>

    <%= active_link_to "Home", root_path, active: :exclusive, class_active: "bg-slate-100", class: "px-4 py-2 hover:bg-slate-300" %>
    <%= active_link_to "Accounts", accounts_path, active: :exclusive, class_active: "bg-slate-100", class: "px-4 py-2 hover:bg-slate-300" %>

      <% current_user.accounts.each do |account| %>
        <%= active_link_to account_path(account), class: "pl-8 pr-4 py-2 inline-flex items-center gap-2 no-underline hover:bg-slate-300", class_active: "bg-slate-200" do %>
          <div>
            <%= account_avatar(account) %>
          </div>
          <div class="truncate">
            <%= account.name %>
          </div>
        <% end %>
      <% end %>

    <% if current_account %>
      <%= active_link_to account_account_users_path(@account), class_active: "bg-slate-100", class: "px-4 py-2 hover:bg-slate-300 flex items-center space-x-2" do %>
        <%= inline_svg_tag "svg/user-group.svg", class: "size-5" %>
        <span>
          Users
        </span>
      <% end %>
      <%= active_link_to account_inboxes_path(@account), class_active: "bg-slate-100", class: "px-4 py-2 hover:bg-slate-300 flex items-center space-x-2" do %>
        <%= inline_svg_tag "svg/question-mark-circle.svg", class: "size-5" %>
        <span>
          Inboxes
        </span>
      <% end %>
    <% end %>
  </nav>

  <%# Widescreen sidebar bottom %>
  <div class="p-4">
  </div>
</aside>
