<div class="drawer-side z-20">
  <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  <aside class="bg-base-300 h-dvh flex flex-col overflow-y-auto w-80">
    <ul class="menu menu-xl w-full flex-1">
      <% if Current.organization %>
        <li>
          <details>
            <summary>
              <%= organization_avatar(Current.organization, classes: "size-6") %>
              <%= Current.organization.name %>
            </summary>
            <ul>
              <%= nav_link t("organizations.memberships.index.title"), organization_memberships_path(Current.organization), icon: "svg/user-group.svg", badge: Current.organization.user_requests.pending.count, active: [["organizations/memberships", "organizations/invitations", "organizations/membership_requests"], []] %>
              <% if Current.membership.admin? %>
                <%= nav_link t("organizations.edit.title"), edit_organization_path(Current.organization), icon: "svg/cog-6-tooth.svg", active: [["organizations"], ["edit"]] %>
                <%= nav_link t("organizations.subscriptions.index.title"), organization_subscriptions_path(Current.organization), icon: subscription_status_label(Current.organization) if Rails.application.credentials.dig(:stripe, :private_key).present? %>
              <% end %>
            </ul>
          </details>
        </li>
        <%= render "shared/sidebar_links" %>
      <% end %>
    </ul>

    <ul class="menu menu-xl w-full">
      <%= nav_link Rails.application.config_for(:settings).dig(:site, :name), root_path, icon: "logo.png", active: :exact %>
      <li></li>
    </ul>
  </aside>
</div>
