<% show_user_links = controller_path.start_with?('users') && !controller_path.start_with?('users/invitations', 'users/membership_requests') %>

<%# Mobile sidebar backdrop %>
<div data-mobile-sidebar-target="backdrop" class="lg:hidden fixed inset-0 bg-gray-800/50 z-40 hidden" data-action="click->mobile-sidebar#close"></div>

<aside data-mobile-sidebar-target="sidebar" class="fixed lg:relative bg-base-300 h-dvh -translate-x-full lg:translate-x-0 transition-transform duration-300 z-50 flex flex-col flex-shrink-0">
  <%# Widescreen sidebar top %>
  <nav class="flex flex-row flex-grow h-full">
    <div class="flex flex-col max-h-dvh overflow-y-auto">
      <ul class="du-menu" data-expanded="true">
        <%= link_to root_path, class: "flex items-center justify-left mb-2 px-2" do %>
          <%= image_tag "logo.png", alt: "logo", class: "size-8" %>
        <% end %>
        <%= nav_link t("shared.navigation.organizations"), organizations_path, icon: "svg/globe-europe-africa.svg", active: [["organizations", "public/organizations", "users/invitations", "users/membership_requests"], ["index"]] %>
        <% Current.organizations.each do |organization| %>
          <%= nav_link organization.name, organization_path(organization), icon: organization_avatar(organization, classes: "size-6"), active: :inclusive %>
        <% end %>
      </ul>
      <div class="mt-auto p-2">
        <%= render "shared/sidebar_toggle" %>
      </div>
    </div>

    <% if Current.organization %>
      <div class="bg-base-100 overflow-y-auto ml-0 m-2 rounded-xl border border-base-content/20 justify-between flex flex-col max-h-dvh min-w-64">
        <div class="du-menu w-full">
          <li>
            <%= active_link_to organization_path(Current.organization), class_active: "du-menu-active", active: :exclusive do %>
              <%= organization_avatar(Current.organization, classes: "size-6") %>
              <%= Current.organization.name %>
            <% end %>
          <ul>
          <%= nav_link t("organizations.memberships.index.title"), organization_memberships_path(Current.organization), icon: "svg/user-group.svg", badge: Current.organization.user_requests.pending.count, active: [ [ "organizations/memberships", "organizations/invitations", "organizations/membership_requests" ], [] ] %>
          <% if Current.membership.admin? %>
            <%= nav_link t("organizations.subscriptions.index.title"), organization_subscriptions_path(Current.organization), icon: subscription_status_label(Current.organization) if Rails.application.credentials.dig(:stripe, :private_key).present? %>
          <% end %>
          </ul>
          </li>
          <%= render "shared/sidebar_links" %>
        </div>
      </div>
    <% end %>

    <% if show_user_links %>
      <div class="bg-base-100 overflow-y-auto ml-0 m-2 rounded-xl border border-base-content/20 justify-between flex flex-col max-h-dvh min-w-64">
        <div class="du-menu w-full">
          <%= render "shared/user_links" %>
        </div>
      </div>
    <% end %>
  </nav>
</aside>
