<% sign_in_account = user.connected_accounts.find { |ca| ConnectedAccount::PROVIDER_CONFIG[ca.provider.to_sym]&.dig(:sign_in) } %>

<div class="p-4 border-b border-base-content/10">
  <div class="flex items-center gap-3">
    <%= user_avatar(user, classes: "w-12 h-12") %>

    <div class="flex-1 min-w-0">
      <div class="font-semibold text-base truncate"><%= user.name %></div>

      <div class="text-sm text-base-content/70 truncate"><%= user.email %></div>

      <% if sign_in_account %>
        <div class="flex items-center gap-1.5 mt-1">
          <%= inline_svg_tag "svg/#{ConnectedAccount::PROVIDER_CONFIG[sign_in_account.provider.to_sym][:icon]}.svg", class: "w-4 h-4", "aria-hidden": "true" %>

          <span class="text-xs text-base-content/60">
            <%= ConnectedAccount::PROVIDER_CONFIG[sign_in_account.provider.to_sym][:name] %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
