<%= nav_link t("shared.navigation.organizations"), user_organizations_path, icon: "svg/globe-europe-africa.svg", active: [["user/organizations", "organizations", "users/invitations", "users/membership_requests"], ["index"]] %>

<%= nav_link t("users.referrals.index.title"), user_referrals_path, icon: "ðŸŽ", badge: "New" %>

<%= nav_link t("users.connected_accounts.index.title"), user_connected_accounts_path, icon: "ðŸ”—" if Rails.application.config.omniauth_providers.any? %>

<li></li>

<%= render "shared/language_picker" %>

<li></li>

<%= nav_link t("shared.navigation.edit_profile"), edit_user_registration_path, icon: "ðŸ”" %>

<%= nav_link t("shared.navigation.logout"), destroy_user_session_path, icon: "ðŸ‘‹", data: { turbo_method: :delete, turbo_confirm: t("shared.actions.confirm") } %>
