<%= form_with(model: [ @organization, project ], class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>

  <div class="">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex justify-end">
    <%= form.submit class: "du-btn du-btn-primary" %>
  </div>
<% end %>
