<% content_for :title, "Projects" %>

<% breadcrumbs = capture do %>
  <nav aria-label="Breadcrumb">
    <div class="breadcrumbs text-lg">
      <ul>
        <li>
          <%= link_to organization_projects_path(@organization) do %>
            <span>Projects</span>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>

<%= render PageComponent.new(title: breadcrumbs) do |component| %>
  <% component.with_action_list do %>
    <%= link_to t("shared.actions.new"), new_organization_project_path(@organization), data: { turbo_frame: :modal }, class: "btn btn-primary" %>
  <% end %>

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th><%= Project.human_attribute_name(:name) %></th>
          <th><%= Project.human_attribute_name(:created_at) %></th>
          <th><%= Project.human_attribute_name(:updated_at) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="projects">
        <% @projects.each do |project| %>
          <tr
            class="cursor-pointer"
            data-controller="visitable"
            data-action="click->visitable#visit"
            data-url="<%= organization_project_path(@organization, project) %>"
          >
            <td data-label="<%= Project.human_attribute_name(:name) %>">
              <%= project.name %>
            </td>
            <td data-label="<%= Project.human_attribute_name(:created_at) %>">
              <%= local_time(project.created_at, format: :short) %>
            </td>
            <td data-label="<%= Project.human_attribute_name(:updated_at) %>">
              <%= local_time(project.updated_at, format: :short) %>
            </td>
            <td>
              <%= link_to t("shared.actions.show"), [@organization, project], class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
