<% content_for :title, "Projects" %>

<%= render PageComponent.new(title: "Projects") do |component| %>
  <% component.with_action_list do %>
    <%= link_to t("shared.actions.new"), new_organization_project_path(@organization), data: { turbo_frame: :modal }, class: "btn btn-primary" %>
  <% end %>

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th><%= Project.human_attribute_name(:name) %></th>
          <th><%= Project.human_attribute_name(:created_at) %></th>
          <th><%= Project.human_attribute_name(:updated_at) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="projects">
        <% @projects.each do |project| %>
          <tr>
            <td data-label="<%= Project.human_attribute_name(:name) %>"><%= project.name %></td>
            <td data-label="<%= Project.human_attribute_name(:created_at) %>"><%= local_time(project.created_at, format: :short) %></td>
            <td data-label="<%= Project.human_attribute_name(:updated_at) %>"><%= local_time(project.updated_at, format: :short) %></td>
            <td>
              <%= link_to t("shared.actions.show"), [ @organization, project ], class: "btn btn-sm btn-secondary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
