<%= modal do %>
  <%= render PageComponent.new(title: t("devise.views.sessions.new.title"), full_width: false) do %>
    <%= render "devise/shared/oauth_links" %>

    <div class="divider"><%= t("devise.views.shared.links.oauth_separator") %></div>

    <% if params[:via_email].present? || params.dig(:user, :via_email).present? %>
      <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo_frame: "_top" }, class: "flex flex-col gap-y-4" } do |f| %>
        <%= f.hidden_field :via_email, value: params[:via_email] || params.dig(:user, :via_email) %>

        <%= f.input :email,
                    label: t("devise.views.sessions.new.email_label"),
                    placeholder: t("devise.views.sessions.new.email_placeholder"),
                    input_html: {
                      autofocus: true,
                      autocomplete: "email"
                    } %>

        <%= f.input :password,
                    label: t("devise.views.sessions.new.password_label"),
                    placeholder: t("devise.views.sessions.new.password_placeholder"),
                    input_html: {
                      autocomplete: "current-password"
                    } %>

        <div class="pt-2"><%= f.button :submit, t("devise.views.sessions.new.submit"), class: "btn-primary btn-block" %></div>
      <% end %>
      <%= render "devise/shared/links" %>
    <% else %>
      <%= link_to t("devise.views.sessions.new.sign_in_with_email"), new_user_session_path(via_email: true), class: "btn btn-primary btn-block" %>
    <% end %>
  <% end %>
<% end %>
