<%= render PageComponent.new(title: t("devise.invitations.edit.header"), full_width: false) do %>
  <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), method: :put, html: { class: "space-y-4" } do |f| %>
    <%= render "shared/errors", object: resource %>
    <%= f.hidden_field :invitation_token, readonly: true %>

    <%= f.input :email,
                 input_html: {
                   disabled: true
                 } %>

    <% if f.object.class.require_password_on_accepting %>
      <%= f.input :password,
                   input_html: {
                     autocomplete: "new-password"
                   } %>

      <%= f.input :password_confirmation,
                   input_html: {
                     autocomplete: "new-password"
                   } %>
    <% end %>

    <div class="pt-2">
      <%= f.button :submit, t("devise.invitations.edit.submit_button"), class: "btn-primary btn-block" %>
    </div>
  <% end %>
<% end %>
