<%= render PageComponent.new(title: t("devise.invitations.edit.header")) do %>
  <%= form_with model: resource, as: resource_name, url: invitation_path(resource_name), method: :put, class: "space-y-4" do |f| %>
    <%= render "shared/errors", object: resource %>
    <%= f.hidden_field :invitation_token, readonly: true %>

    <div class="space-y-1">
      <%= f.label :email, class: "block text-sm font-medium" %>
      <%= f.email_field :email, class: "du-input w-full", disabled: true %>
    </div>

    <% if f.object.class.require_password_on_accepting %>
      <div class="space-y-1">
        <%= f.label :password, class: "block text-sm font-medium" %>
        <%= f.password_field :password, class: "du-input w-full", autocomplete: "new-password" %>
      </div>

      <div class="space-y-1">
        <%= f.label :password_confirmation, class: "block text-sm font-medium" %>
        <%= f.password_field :password_confirmation, class: "du-input w-full", autocomplete: "new-password" %>
      </div>
    <% end %>

    <div class="pt-2">
      <%= f.submit t("devise.invitations.edit.submit_button"), class: "du-btn du-btn-primary du-btn-block" %>
    </div>
  <% end %>
<% end %>