<%= render PageComponent.new(title: t("devise.invitations.new.header"), full_width: false) do %>
  <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), method: :post, html: { class: "space-y-4" } do |f| %>
    <%= render "shared/errors", object: resource %>

    <% resource.class.invite_key_fields.each_with_index do |field, index| %>
      <%= f.input field,
                   input_html: {
                     autofocus: index.zero?
                   } %>
    <% end %>

    <div class="pt-2">
      <%= f.button :submit, t("devise.invitations.new.submit_button"), class: "btn-primary btn-block" %>
    </div>
  <% end %>
<% end %>
