<%= form_with(model: organization, class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>

  <div class="">
    <%= form.label :name %>
    <%= form.text_field :name,
                        class: "form-input",
                        autocomplete: "off",
                        autocorrect: "off",
                        autocapitalize: "off",
                        spellcheck: "false",
                        autofocus: !turbo_native_app?,
                        required: true %>
  </div>

  <div class="">
    <%= form.label :logo %>
    <%= form.file_field :logo, accept: "image/png, image/jpeg, image/gif", class: "form-input" %>
  </div>

  <div class="">
    <%= form.label :privacy_setting, class: "block text-sm font-medium text-gray-700 mb-2" %>
    <div class="space-y-4 grid grid-cols-3 gap-4">
      <% Organization.privacy_settings.each do |key, value| %>
        <div class="">
          <%= form.radio_button :privacy_setting, value, class: "peer sr-only" %>
          <%= form.label "privacy_setting_#{key}".to_sym, class: "flex flex-col items-center p-4 border rounded-lg cursor-pointer peer-checked:border-primary peer-checked:bg-primary/5 hover:bg-gray-50" do %>
            <div class="flex flex-col items-center gap-x-3">
              <div class="flex-shrink-0">
                <%= inline_svg_tag privacy_setting_options(key)[:icon_path], class: "size-6 text-gray-600 peer-checked:text-primary" %>
              </div>
              <div class="flex flex-col items-center gap-x-2">
                <span class="font-medium"><%= privacy_setting_options(key)[:display_text] %></span>
                <span class="text-sm text-gray-500"><%= privacy_setting_options(key)[:description_text] %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "du-btn du-btn-primary" %>
  </div>
<% end %>
