<%= form_with(model: organization, class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>

  <div class="">
    <%= form.label :name %>
    <%= form.text_field :name,
                        class: "du-input",
                        autocomplete: "off",
                        autocorrect: "off",
                        autocapitalize: "off",
                        spellcheck: "false",
                        autofocus: !turbo_native_app?,
                        required: true %>
  </div>

  <div class="">
    <%= form.label :logo %>
    <%= form.file_field :logo, accept: "image/png, image/jpeg, image/gif", class: "input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "du-btn du-btn-primary" %>
  </div>
<% end %>
