<%= form_with(model: organization, class: "contents space-y-4") do |form| %>
  <%= render "shared/errors", object: form.object %>

  <div class="">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-input", autofocus: true %>
  </div>

  <div class="">
    <%= form.label :logo %>
    <%= form.file_field :logo, accept: "image/png, image/jpeg, image/gif", class: "form-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
