<% content_for :title, t("organizations.show.title") %>

<% title = capture do %>
  <div class="flex items-center gap-2">
    <%= organization_avatar(@organization) %>
    <%= @organization.name %>
  </div>
<% end %>

<style>
  .details-with-menu:not(:has(.du-menu a, .du-menu button)) {
    display: none !important;
  }
</style>

<%= render PageComponent.new(title:, full_width: false) do |component| %>
  <div class="flex items-center gap-2">
    <%= privacy_setting_icon(@organization.privacy_setting) %>
    <%= render "organizations/users_list", organization: @organization %>
  </div>
<% end %>
