<%= render PageComponent.new(title: "Organizations / #{@organization.name}") do |component| %>
  <% component.with_action_list do %>
    <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-secondary" if policy(@organization).edit? %>
    <div class="inline-block">
      <%= button_to "Destroy", @organization, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(@organization).destroy? %>
    </div>
  <% end %>
<% end %>

<div data-controller="menu bridge--menu">
  <button
    data-controller="bridge--overflow-menu"
    data-action="click->bridge--menu#show click->menu#show">
    Open Menu
  </button>
  <p data-bridge--menu-target="title">Actions</p>
  <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-secondary", data: {"bridge--menu-target": "item"} if policy(@organization).edit? %>
  <%= button_to "Destroy", @organization, method: :delete, data: { turbo_confirm: "Are you sure?", "bridge--menu-target": "item" }, class: "btn btn-danger" if policy(@organization).destroy? %>
</div>