<div id="<%= dom_id account_user %>" class="border p-4 rounded-lg flex justify-between items-center">
  <div class="">
    <div class="">
      <%= account_user.user.email %>
    </div>
    <div class="">
      <%= account_user.role %>
    </div>
  </div>

  <div>
    <%= link_to "Edit", edit_account_account_user_path(account_user.account, account_user), class: "btn btn-secondary" if policy(account_user).edit? %>
    <div class="inline-block">
      <%= button_to "Remove", account_account_user_path(account_user.account, account_user), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(account_user).destroy? %>
    </div>
  </div>
</div>
