<div id="<%= dom_id account_user %>" class="border p-4 rounded-lg">
  <p>
    <strong class="block font-medium mb-1">User:</strong>
    <%= account_user.user.email %>
  </p>

  <p>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= account_user.role %>
  </p>

  <%= link_to "Edit", edit_account_account_user_path(account_user.account, account_user), class: "btn btn-secondary" if policy(account_user).edit? %>
  <div class="inline-block">
    <%= button_to "Remove", account_account_user_path(account_user.account, account_user), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(account_user).destroy? %>
  </div>
</div>
