<%= render PageComponent.new(title: "Edit #{@account_user.user.email} roles", content_container: true, full_width: false) do |component| %>
  <%= form_with(model: [ @account, @account_user ], class: "contents") do |form| %>
    <div class="">
      <%= form.label :role %>
      <div>
        <% AccountUser.roles.each do |role, _value| %>
          <div class="flex items-center gap-2">
            <%= form.radio_button :role, role %>
            <%= form.label :role, role.humanize, value: role %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="inline">
      <%= form.submit "Update Account User", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Cancel", account_account_users_path(@account), class: "btn btn-secondary" %>
<% end %>
