<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
    Edit
    <%= @account_user.user.email %>
    roles
  </h1>

  <%= form_with(model: [ @account, @account_user ], class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :role %>
      <div>
        <% AccountUser.roles.each do |role, _value| %>
          <div>
            <%= form.radio_button :role, role %>
            <%= form.label :role, role.humanize, value: role %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="inline">
      <%= form.submit "Update Account User", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Cancel", account_account_users_path(@account), class: "btn btn-secondary" %>
</div>
