<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Invite user</h1>
  <%= form_with model: @form, url: account_account_users_path(@account), class: "contents" do |form| %>
    <%= render "shared/errors", object: form.object %>

    <div class="my-5">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "hello@superails.com", class: "form-input" %>
    </div>

    <div class="my-5">
      <%= form.label :role %>
      <div>
        <% AccountUser.roles.each do |role, _value| %>
          <div class="flex items-center gap-2">
            <%= form.radio_button :role, role %>
            <%= form.label :role, role.humanize, value: role %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="inline">
      <%= form.submit "Invite", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Cancel", account_account_users_path(@account), class: "btn btn-secondary" %>
</div>
