<%= render PageComponent.new(title: "Invite user", content_container: true, full_width: false) do |component| %>
  <%= form_with model: @form, url: account_account_users_path(@account), class: "contents space-y-4" do |form| %>
    <%= render "shared/errors", object: form.object %>

    <div class="">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "hello@superails.com", class: "form-input" %>
    </div>

    <div class="">
      <%= form.label :role %>
      <div>
        <% AccountUser.roles.each do |role, _value| %>
          <div class="flex items-center gap-2">
            <%= form.radio_button :role, role %>
            <%= form.label :role, role.humanize, value: role %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="inline">
      <%= form.submit "Invite", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Cancel", account_account_users_path(@account), class: "btn btn-secondary" %>
<% end %>
