<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Invite user</h1>

  <%= form_with url: account_account_users_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "Email", class: "form-input" %>
    </div>

    <div class="inline">
      <%= form.submit "Invite", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Cancel", accounts_path, class: "btn btn-secondary" %>
</div>
