<%= render PageComponent.new(title: t(".title"), full_width: false) do %>
  <%= simple_form_for @user, url: accept_user_invitation_create_path, method: :post, html: { class: "space-y-4" } do |f| %>
    <%= render "shared/errors", object: @user %>

    <%= f.input :email,
                 label: t("devise.views.registrations.new.email_label"),
                 input_html: {
                   disabled: true,
                   autocomplete: "email"
                 } %>

    <%= f.input :password,
                 label: t("devise.views.passwords.edit.password_label"),
                 placeholder: t("devise.views.passwords.edit.password_placeholder"),
                 hint: (@minimum_password_length ? t("devise.views.passwords.edit.password_minimum", count: @minimum_password_length) : nil),
                 input_html: {
                   autofocus: true,
                   autocomplete: "new-password"
                 } %>

    <%= f.input :password_confirmation,
                 label: t("devise.views.passwords.edit.password_confirmation_label"),
                 placeholder: t("devise.views.passwords.edit.password_confirmation_placeholder"),
                 input_html: {
                   autocomplete: "new-password"
                 } %>

    <div class="pt-2">
      <%= f.button :submit, t(".submit"), class: "btn-primary btn-block" %>
    </div>
  <% end %>
<% end %>
