<% status_label = subscription.on_grace_period? ? t(".cancelled") : t(".active") %>

<% access_ends_at_label = subscription.on_grace_period? ? t(".you_will_lose_access_in", distance_of_time_in_words: distance_of_time_in_words(subscription.current_period_end, Time.current)) : t(".next_billing_date") %>

<% button_label = subscription.on_grace_period? ? t(".resume_subscription") : t(".manage_billing") %>

<%= render PageComponent.new(title: t(".title"), full_width: false) do |component| %>
  <% component.with_action_list do %>
    <%= button_to button_label, organization_subscriptions_billing_portal_path(Current.organization), data: { turbo: false }, class: "btn btn-secondary" %>
  <% end %>

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th><%= t(".status") %></th>
          <th><%= t(".price") %></th>
          <th><%= access_ends_at_label %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td data-label="<%= t(".status") %>">
            <div class="flex items-center gap-2 flex-1 @max-xl:justify-end">
              <span class="font-medium"><%= status_label %></span>
              <%= subscription_status_label(Current.organization) %>
            </div>
          </td>

          <td data-label="<%= t(".price") %>">
            <div class="flex flex-1 @max-xl:justify-end">
              <% current_plan = plan_for(subscription) %>

              <% if current_plan %>
                <%= number_to_currency current_plan[:unit_amount] / 100, unit: currency_symbol(current_plan[:currency]), strip_insignificant_zeros: true %>
                /
                <%= current_plan[:interval] %>
              <% else %>
                <%= subscription.processor_plan %>
              <% end %>
            </div>
          </td>

          <td data-label="<%= access_ends_at_label %>">
            <div class="flex flex-1 @max-xl:justify-end">
              <%= subscription.current_period_end.to_datetime.strftime("%d %b %Y") %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
