<% status_label = subscription.on_grace_period? ? t(".subscription_cancelled") : t(".subscription_active") %>
<% access_ends_at_label = subscription.on_grace_period? ? t(".you_will_lose_access_on") : t(".next_billing_date") %>
<% button_label = subscription.on_grace_period? ? t(".resume_subscription") : t(".manage_billing") %>

<%= render PageComponent.new(title: t(".title"), content_container: true) do |component| %>
  <% component.with_action_list do %>
    <%= button_to button_label, organization_subscriptions_billing_portal_path(current_organization), data: { turbo: false }, class: "btn btn-secondary" %>
  <% end %>

  <dl class="space-y-2">
    <div class="flex justify-between">
      <dt class="font-semibold">
        <%= status_label %>
        <%= subscription_status_label(current_organization) %>
      </dt>
      <dd>
        <%= number_to_currency plan_for(subscription)[:unit_amount] / 100, unit: currency_symbol(plan_for(subscription)[:currency]), strip_insignificant_zeros: true %>/<%= plan_for(subscription)[:interval] %>
      </dd>
    </div>

    <div class="flex justify-between">
      <dt class="font-semibold">
        <%= access_ends_at_label %>
      </dt>
      <dd>
        <%= subscription.current_period_end.to_datetime.strftime("%d %b %Y") %>
      </dd>
    </div>
  </dl>
<% end %>
