<% content_for :title, t(".title") %>

<%= render "organizations/memberships/tabs", active_tab: :invitations %>

<%= render PageComponent.new do %>
  <% if @invitations.any? %>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th><%= OrganizationInvitation.human_attribute_name(:user) %></th>
            <th><%= OrganizationInvitation.human_attribute_name(:created_at) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody id="invitations">
          <% @invitations.each do |invitation| %>
            <tr>
              <td data-label="<%= OrganizationInvitation.human_attribute_name(:user) %>">
                <div class="font-medium flex items-center gap-2"><%= user_avatar(invitation.user) %><%= invitation.user.email %></div>
              </td>

              <td data-label="<%= OrganizationInvitation.human_attribute_name(:created_at) %>"><%= l(invitation.created_at, format: :short) %></td>

              <td>
                <div class="flex items-center gap-2 justify-end">
                  <%= button_to t(".cancel_invitation"), organization_sent_invitation_path(@organization, invitation), method: :delete, class: "btn btn-sm btn-error" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render EmptyStateComponent.new %>
  <% end %>
<% end %>
