<% content_for :title, t("organizations.memberships.new.title") %>

<%= modal do %>
  <%= render PageComponent.new(title: t("organizations.memberships.new.title")) do |component| %>
    <%= simple_form_for @membership_invitation, url: organization_sent_invitations_path(@organization), html: { class: "contents space-y-4" } do |f| %>
      <%= render "shared/errors", object: f.object %>

      <%= f.input :email,
                      placeholder: "hello@superails.com",
                      required: true,
                      input_html: {
                        autocomplete: "off",
                        autocorrect: "off",
                        autocapitalize: "off",
                        spellcheck: "false",
                        autofocus: !turbo_native_app?
                      } %>

      <div class="flex justify-end"><%= f.button :submit, "Invite", class: "btn-primary" %></div>
    <% end %>
  <% end %>
<% end %>
