<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex h-screen" data-controller="mobile-sidebar">
    <%= render "shared/sidebar" if signed_in? %>
    <%#= render "shared/sidebar_2_cols" if signed_in? %>

    <div class="flex-grow overflow-y-auto flex flex-col">
      <header class="sticky z-30 top-0">
        <%= render "shared/navbar" %>
      </header>
      <div id="flash" class="absolute bottom-4 right-4 z-40 flex flex-col items-end">
        <%= render "shared/flash" %>
      </div>
      <main class="flex-grow p-4 lg:p-6">
        <%= render BreadcrumbsComponent.new(current_path: request.path) if current_organization %>
        <%= yield %>
      </main>
      <% if signed_in? %>
        <%= render "shared/footer_nav" %>
      <% else %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </body>
</html>
