<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="sticky z-30 top-0">
      <%= render "shared/navbar" %>
      <div id="flash" class="absolute flex flex-col z-40 left-1/2 transform -translate-x-1/2">
        <%= render "shared/flash" %>
      </div>
    </header>
    <main class="flex-grow px-4 py-8">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
