<!DOCTYPE html>
<html lang="en" class="h-full bg-base-300 text-base-content overflow-hidden">
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex h-dvh overflow-hidden" data-controller="mobile-sidebar layout-switcher">
    <% if signed_in? %>
      <% sidebar_layout = cookies[:sidebar_layout] || "default" %>
      <% if sidebar_layout == "default" %>
        <%= render "shared/sidebar" %>
      <% else %>
        <%= render "shared/sidebar_2_cols" %>
      <% end %>
    <% end %>

    <div class="flex-grow flex flex-col bg-base-300">
      <header class="sticky z-30 top-0">
        <%= render "shared/navbar" %>
        <div id="flash" class="absolute right-4 z-40 flex flex-col items-end">
          <%= render "shared/flash" %>
        </div>
      </header>
      <% authenticated_classes = "lg:m-2 lg:mt-0 lg:ml-0 lg:rounded-lg lg:border border-base-content/20" %>
      <main class="<%= authenticated_classes if signed_in? %> flex-grow p-4 bg-base-100 overflow-y-auto">
        <%= yield %>
      </main>
      <% if signed_in? %>
        <%= render "shared/footer_nav" %>
      <% else %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
    <%= turbo_frame_tag :modal %>
  </body>
</html>
