<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body class="flex h-screen">
    <%= render "shared/sidebar" if signed_in? %>
    <%#= render "shared/sidebar_2_cols" if signed_in? %>

    <div class="flex-grow overflow-y-auto flex flex-col">
      <header class="sticky z-30 top-0">
        <%= render "shared/navbar" %>
        <div id="flash" class="absolute flex flex-col z-40 left-1/2 transform -translate-x-1/2">
          <%= render "shared/flash" %>
        </div>
      </header>
      <main class="flex-grow p-2 lg:p-4">
        <%= yield %>
      </main>
      <% if signed_in? %>
        <%= render "shared/footer_nav" %>
      <% else %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </body>
</html>
