<%= link_to account_path(account), class: "border p-4 rounded-lg flex items-center justify-between gap-2 hover:bg-gray-100" do %>
  <div class="flex items-center gap-2">
    <%= account_avatar(account) %>
    <%= account.name %>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center -space-x-2">
      <% account.users.each do |user| %>
        <div class="bg-slate-400 rounded-full size-8 justify-center flex items-center border" title="<%= user.email %>">
          <%= user.email.first %>
        </div>
      <% end %>
    </div>

    <%= inline_svg_tag "svg/chevron-right.svg", class: "size-5" %>
  </div>
<% end %>
