<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @account %>

    <%= link_to "Account users", account_account_users_path(@account), class: "btn btn-secondary" %>
    <%= link_to "Edit this account", edit_account_path(@account), class: "btn btn-secondary" %>
    <%= link_to "Back to accounts", accounts_path, class: "btn btn-secondary" %>
    <div class="inline-block">
      <%= button_to "Destroy this account", @account, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
